- var socials = ['fb', 'vk', 'tw'];
- var navigation = ['Главная', 'Наши проекты', 'О компании', 'Контакты'];
- var options = {'Компания-производитель outokumpu уменьшила квартальный убыток': "Один из лидеров по выпуску нержавеющей стали сократил убыток от своей производственной деятельности.", "Компания-производитель Outokumpu уменьшила квартальный убыток" : "С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль.", "Компания-производитель Outokumpu увеливила квартальный убыток" : "С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет особую роль."};


