header.header
	.header__top
		.container
			.header__left
				a(href="#" title="На главную").logo
					img(src="../img/logo/logo.svg" alt="Нева-AТС").logo__img
					span.logo__text Транспортное строительство
			.header__right
				.header__title
					.header__title-top Транспортное строительство
					.header__title-bottom Автоматика Телемеханика Связь
	.header__bottom
		.container
			+ul('navigation', navigation , 0, false)



