.footer__header {
	border-top: 4px solid $blue;
	background: $white;
	.container {
		@include clearfix;
	}
}

.footer__left {
	float: left;
	padding-top: 18px;
}

.footer__right {
	float: right;
}

.logo_footer {
	max-width: 185px;
}

.nav-top__list {
	width: 676px;
	margin: 0 23px 0 50px;
	text-align: justify;
	height: 87px;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}

.nav-top__item {
	@include inlineblock(middle);
}

.nav-top__link {
	display: block;
	color: $black;
	font-size: 18px;
	line-height: 87px;
	text-transform: uppercase;
	text-decoration: none;
}
.footer__main {
	height: 472px;
	@include clearfix;
	color: $white;
}
.footer__contacts {
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	background: url(../img/bg/mosts.jpg) no-repeat $grey;
	background-size: cover;

	.container {
		margin: auto;
		width: 300px;
		padding: 60px 0 45px 0;
	}
}

.address__phone {
	margin-bottom: 10px;
	font-family: $font-bold;
	@include clearfix;
}

.address__phone-text {
	float: left;
	padding-top: 13px;
	font-size: 16px;

}

.address__phone-link {
	float: right;
	color: $white;
	font-size: 30px;
	text-decoration: none;
}

.address__city {
	margin: 35px 0 20px 0;
	text-align: center;
	line-height: 18px;
}

.address__mail {
	display: block;
	color: $white;
	margin-bottom: 33px;

	&:hover {
		text-decoration: none;
	}
}	

.info__link-img {
	display: inline-block;
	@include get-sprite($general-sprite, rtc);
	margin-bottom: 10px;
}

.info__text {
	margin-bottom: 10px;
}

.info__link-text {
	display: block;
	color: $white;
	margin-top: 7px;

	&:hover {
		text-decoration: none;
	}
}

#footer__map {
	float: right;
	width: 50%;
	height: 100%;
}

.nav-bottom__item {
	@include inlineblock(middle);
}