// Colors
$bgcolor: #f1f1f1;
$white: #fff;
$grey: #636363;
$blue: #253275;
$bg-footer: #111111;
$black: #000;

// Setting
$container-width: 940px;
$footer-height: 709px;
$socials: vk, tw, fb;

// Fonts
$base-font-size: 14px;
$font-main: 'OpensansReqular', sans-serif;
$font-black: 'HelveticaNeueCyrBlack';
$font-roman: 'HelveticaNeueCyrRoman';
$font-bold: 'HelveticaNeueCyrBold';
$font-light: 'HelveticaNeueCyrLight';

//Paths
$path-images: '../img';
$path-fonts: '../fonts/';